.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 50px;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 25px 0 0 25px;
    outline: none;
    width: 250px;
}

.search-input:focus {
    border-color: dodgerblue;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-left: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: royalblue;
}